{% extends "base_template.html" %}
{% block content %}
    <h3>INDEX</h3>
    <div class="centered-msg">
        {% if username %}
            <div>
                Hello, {{username}} !
            </div>
        {% endif %}
    </div>
    <div class="centered-msg">
        <form method="post" action="index" class="inline">
            Had enough fun?
            <button type="submit" name="username" value={{username}} class="link-button">...LOGOUT</button>
        </form>
    </div>
{% endblock %}