html {
    background-color: lavender;

    body {
        width: 100%;
        padding-top: 1.5%;
        font-size: 20px;

        .outer-div {
            width: 1000px;
            margin: 0px auto;

            h2 {
                width: 240px;
                margin: 50px auto 10px auto;
            }

            .sub-title {
                width: 460px;
                padding-bottom: 30px;
                margin: 0px auto;
            }

            h3 {
                text-align: center;
                margin: 25px auto;
                font-size: 18px;
            }

            .action {
                height: 140px;

                .action-table {
                    margin: 0 auto;

                    .label {
                        width: 150px;
                        text-align: right;
                    }
                }
            }

            .centered-msg {
                text-align: center;

                .caption {
                    font-weight: bold;
                    margin: 30px 0 5px 0;
                }

                table {
                    border-color: black;
                    border-width: 1px;
                    border-style: solid;
                    width: 100%;

                    th{
                        border-color: black;
                        border-width: 1px;
                        border-style: solid;
                        padding: 0 5px;
                    }
                }

                .inline {
                    display: inline;

                    .link-button {
                        background: none;
                        border: none;
                        color: blue;
                        text-decoration: none;
                        cursor: pointer;
                        font-family: serif;
                        font-size: 18px;
                        font-weight: bold;
                        margin-top: 40px;
                    }
                    .link-button:focus {
                        outline: none;
                    }
                    .link-button:active {
                        color:red;
                    }
                }
            }

            .errors {
                width: 100%;
                text-align: center;
                margin: 0px auto;

                li {
                    margin-top: 10px;

                    .error {
                        color: red;
                        font-style: italic;
                    }
                }
            }

            .links {
                margin-bottom: 10%;
                overflow: hidden;
                width: 100%;
                text-align: center;
                margin: 25px auto 20px auto;

                a {
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
}
