@mixin centered($margin-top: 0px, $margin-bottom: 0px) {
    margin: $margin-top auto $margin-bottom auto;
    text-align: center;
    width: 100%;
}

$link-font: bold 18px serif;
$table-border: 1px solid black;

html {
    background-color: lavender;

    body {
        @include centered();
        font-size: 20px;
        padding-top: 1.5%;

        .outer-div {
            @include centered();
            width: 1000px;

            h2 {
                @include centered(50px, 10px);
            }

            .sub-title {
                padding-bottom: 30px;
            }

            h3 {
                @include centered(25px, 25px);
                font: $link-font;
            }

            .action {
                height: 140px;

                .action-table {
                    margin: 0 auto;

                    td {
                        display: inline-grid;

                        input {
                            float: right;
                        }
                    }

                    .label {
                        text-align: right;
                        width: 190px;
                    }
                }
            }

            .centered-msg {
                @include centered();

                .caption {
                    @include centered(30px, 5px);
                    font: $link-font;
                }

                table {
                    @include centered();
                    border: $table-border;

                    th {
                        border: $table-border;
                        padding: 0 5px;
                    }
                }

                .inline {
                    display: inline;

                    .link-button {
                        background: none;
                        border: none;
                        color: blue;
                        cursor: pointer;
                        font: $link-font;
                        margin-top: 40px;
                        text-decoration: none;
                    }
                    .link-button:focus {
                        outline: none;
                    }
                    .link-button:active {
                        color:red;
                    }
                }
            }

            .errors {
                @include centered();

                li {
                    margin-top: 10px;

                    .error {
                        color: red;
                        font-style: italic;
                    }
                }
            }

            .links {
                @include centered(25px, 20px);
                overflow: hidden;

                a {
                    font: $link-font;
                    text-decoration: none;
                }
            }
        }
    }
}
