@import "helpers/mixins";
@import "helpers/variables";

html {
    background-color: lavender;

    body {
        @include centered();
        font-size: 20px;
        padding-top: 1.5%;

        .outer-div {
            @include centered();
            width: 1000px;

            h2 {
                @include centered(50px, 10px);
            }

            .sub-title {
                padding-bottom: 30px;
            }

            h3 {
                @include centered(25px, 25px);
                font: $link-font;
            }

            @import "pages/login_signup";

            @import "pages/welcome_index_info";

            @import "pages/error";

            @import "pages/links_template";
        }
    }
}
